numpy==1.25.2
pandas==2.1.4
tqdm
transformers
sentencepiece
bitsandbytes
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
langchain
# !pip install -q torch
# !pip install -q faiss-cpu
# !pip install -q scann